{% extends "friendycontrol/base_menu.html" %}
 
{% block title %} Control manager {% if add %}
												Add
											 {% else %}
											    Edit
											 {% endif %} friendlist
{% endblock %}

{% block extra-head %}
{{ block.super }}
<script type="text/javascript">
$(function(){
	$("input",".send").button();
});
</script>
{% endblock %}

{% block menu-group %}
<div id="accordion">
<h3><a href="#">Control Manager</a></h3>
<div class="menu-space">
	<a href="{% url friendy_show_main_friendylist %}">Cancel</a>
</div>
</div>
{% endblock %}

{% block content %}
	<h3>{% if add %}Add {% else %}Edit {% endif %}Friendlist</h3>
	<p>Use the form below to create a new link; all fields are required.</p>

<form method='post' action=''>{% csrf_token %}
	<p>{% if form.non_field_errors %}
				<span class="error">
					{{ form.non_field_errors }}
				</span>
			{% endif %}
		</p>
		
		<p> {% if form.group_name.errors %}
		<span class="error">
			{{ form.group_name.errors|join:", " }}
		</span>
			{% endif %}</p>
		<p><label for="id_group_name">Name of the group:</label>
		{{ form.group_name }}</p>
		
		
		<p> {% if form.description.errors %}
		<span class="error">
			{{ form.description.errors|join:", " }}
		</span>
			{% endif %}</p>
		<p><label for="id_description">Description:</label><br>
		{{ form.description }}</p>
		
	<div class="send">	
		<input type='submit'>
		<input type="button" value="Cancel" onclick="redirect()">
	</div>
</form>
&nbsp
<script type="text/javascript">
function redirect(){
	window.location.href= "{% url friendy_show_main_friendylist %}";
}
</script>
{% endblock %}