{% extends "base.html" %}

{% block extra-head %}
{% include "jquery_definitions.html" %}
<script src="{{ MEDIA_URL }}js/jquery_right_hand_menu.js"></script>
{% endblock %}

{% block menu-group %}
<h2>Navigation</h2>
<div id="accordion">
	<h3><a href="#">Spaces</a></h3>
	<div class="menu-space">
		<a href="{% url space_space_main_area %}">Spaces index</a>
	</div>
	
	<h3><a href="#">Community</a></h3>
	<div class="menu-space">
		<a href="{% url community_public_list_communities %}">Community index</a>
	</div>
	
	<!-- 
	<h3><a href="#">Bio</a></h3>
	<div class="menu-space">
		<a href="{% url portfolio_bio_detail user %}">Bio</a>
	</div>
	-->
</div>
{% endblock %}

{% block title %}| Space{% endblock %}
{% block bodyclass %}Spaces{% endblock %}

